@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Numbers Task</title>

    <script defer src="/js/numberDisplayScript.js"></script>
    <script defer src="/js/scroll.js"></script>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/buttonToggle.css" />

</head>
<body>
    <section class="hidden">
        <h1>Eurofins Coding Task</h1>
        <p> Scroll</p>
        <p>↓↓↓</p>
    </section>

    <section class="hidden">
        <h1>By Mateusz Judka</h1>
        <p> Scroll</p>
        <p>↓↓↓</p>
    </section class="hidden">



    <section class="hidden">

    <h1>Prototype</h1>

    
    <label for="toggleColorBlue">Toggle Blue for "Three":</label>
    <div class="checkbox-wrapper-20" >
    <div class="switch" >
    <input id="toggleColorBlue" class="input" type="checkbox">
    <label for="toggleColorBlue" class="slider" > </label >
    </div >
    </div >
    
  
    <label for="toggleColorRed">Toggle Red for "Five":</label>
    <div class="checkbox-wrapper-20" >
    <div class="switch" >
    <input id="toggleColorRed" class="input" type="checkbox">
    <label for="toggleColorRed" class="slider" > </label >
    </div >
    </div >
    
    <label for="toggleColorOrange">Toggle Orange for "Eurofins":</label>
    <div class="checkbox-wrapper-20" >
        <div class="switch" >
        <input id="toggleColorOrange" class="input" type="checkbox">
        <label for="toggleColorOrange" class="slider" > </label >
        </div >
        </div >

        <label for="toggleNumberBack">Toggle the numbers back:</label>
        <div class="checkbox-wrapper-20" >
        <div class="switch" >
        <input id="toggleNumberBack" class="input" type="checkbox">
        <label for="toggleNumberBack" class="slider" > </label >
        </div >
        </div >


    <form asp-action="SaveNumbers" method="post">
    <label for="customValue1">Custom Value for 1:</label>
    <input id="customValue1" name="customValue1" type="text" placeholder="1">

    <label for="customValue100">Custom Value for 100:</label>
    <input id="customValue100" name="customValue100" type="text" placeholder="100">
    
    <div>
        <button type="submit">Save Numbers</button>
    </div>
</form>


    
    
    
    <div id="textContainer"></div>
    



    <div class="button-container" style="margin: 30px">  
    <button class="btn-12" style="background-color: #800080; min-width: 180px; max-width:150px;" id="btnUseFunction"> <span>Display</span></button>
    <button class="btn-12" style="background-color: darkred; min-width: 180px; max-width:150px; " id="btnHide"><span>Hide</span></button>
    </div>



    
    
    </section>

    <section class="hidden"></section>
    
</body>
</html>






